<div id="components-cover" class="section-cover container">
	<div class="row">
		<div class="col-md-1 col-xs-2 col-sm-2"></div>
		<div class="col-md-6 col-xs-8 col-sm-8">
			<div class="section-title text-center">
				<h1>Components</h1>
			</div>
		</div>
		<div class="col-md-5 col-xs-2 col-sm-2"></div>
	</div>
</div>

<div class="section-text container">

	<div class="row">

		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
			<div class="panel panel-default component-card">
			  <div class="panel-body a-parent">
			  	<a href="https://www.github.com/affear/oscard">Oscard</a>
			  </div>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
			<div class="panel panel-default component-card">
			  <div class="panel-body a-parent">
			    <a href="https://www.github.com/affear/polyphemus">Polyphemus</a>
			  </div>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
			<div class="panel panel-default component-card">
			  <div class="panel-body a-parent">
			    <a href="https://www.github.com/affear/fakestack">FakeStack</a>
			  </div>
			</div>
		</div>

	</div>
</div>