<div id="todo-cover" class="section-cover container">
	<div class="row">
		<div class="col-md-1 col-xs-2 col-sm-2"></div>
		<div class="col-md-4 col-xs-8 col-sm-8">
			<div class="section-title text-center">
				<h1>#TODO</h1>
			</div>
		</div>
		<div class="col-md-7 col-xs-2 col-sm-2"></div>
	</div>
</div>

<div class="section-text">
	<ul>
		<li><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			&nbsp;&nbsp;<del>Use DevStack</del>
		</li>
		<li><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			&nbsp;&nbsp;<del>Use Linux screens</del>
		</li>
		<li><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>&nbsp;&nbsp;Make FakeStack modular</li>
		<li><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>&nbsp;&nbsp;Extend Oscard with all OpenStack commands</li>
	</ul>
</div>