<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-brand-parent">
      <a class="navbar-brand " href="#home">aDock</a>
    </div>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="nav-a-parent"><a href="#new">WHAT'S NEW</a></li>
      <li class="nav-a-parent"><a href="#components">COMPONENTS</a></li>
      <li class="nav-a-parent"><a href="#todo">TODO</a></li>
    </ul>
  </div>
</div>