<div id="new-cover" class="section-cover">
	<div class="row">
		<div class="col-md-1 col-xs-2 col-sm-2"></div>
		<div class="col-md-4 col-xs-8 col-sm-8">
			<div class="section-title text-center">
				<h1>What's new</h1>
			</div>
		</div>
		<div class="col-md-7 col-xs-2 col-sm-2"></div>
	</div>
</div>
<div class="section-text">
	<ul>
	  {% for post in site.posts %}
	    <li class="a-parent">
	      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	      {% if post.date %}
	      	<span> - {{ post.date | date: "%-d %B %Y" }}</span>
	      {% endif %}
	    </li>
	  {% endfor %}
	</ul>
</div>