<div id="todo-cover" class="section-cover"></div>
<div class="section-text">
	<h1>#TODO</h1>
	<ul>
		<li><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			<del>Use DevStack</del>
		</li>
		<li><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			<del>Use Linux screens</del>
		</li>
		<li><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>Make FakeStack modular</li>
		<li><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>Extend Oscard with all OpenStack commands</li>
	</ul>
</div>