$max-width: 970px;
$os-red: #D94634;
$default-margin: 30px;
$lightweight: 300;

body, html {
	padding: 0;
	font-family: lato;
}

li {
	list-style-type: none;
}

.navbar-fixed-top {
	max-width: $max-width;
	margin: $default-margin auto
}

.navbar {
	text-transform: uppercase;
	background-color: #000;
	background-image: none;
	border:none;
}	

.a-parent {
	:hover {
		color: pink;
		text-decoration: none;
	}
	a {
		color: $os-red;
	}
}

#navbar .nav-a-parent a {
	color: #FFF;
	font-size: 30px;
	font-weight: $lightweight;
}

#navbar .nav-a-parent.active a {
	background-color: #FFF;
	color: #000;
}

#navbar .nav-a-parent :hover{
	background-color: #FFF;
	color: #000;
}

.small-container{
	width: 70%;
	margin: auto;
}

	
.section, .post {
	max-width: $max-width;
	margin: 0 auto;
	font-size: 18px;
}

.section-cover {
	height: 33vh;
	width: 100%;
	margin: 20px 0;
}

.section-text {
	padding: 0 2%;
}

#landing-cover {
	background-color: yellow;
}

#new-cover {
	background-color: blue;
}

#components-cover {
	background-color: pink;
}

#todo-cover {
	background-color: $os-red;
}

.post-title {
	font-size: 24px;
}

#home {
	font-size: $default-margin;
	font-weight: $lightweight;
	text-align: center;
}
#home .section-cover {
	margin: 0;
	margin-bottom: $default-margin;
	padding: 0;
}

#back {
	position: fixed;
	margin-top: $default-margin;
	margin-left: $default-margin;
}


/*
	.something-cover {
		background: url(img/2.jpg) no-repeat 50% 0 fixed;
		height: 600px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
*/

@media (max-width: $max-width) {

	#navbar {
		width:100%;
		margin: 0;
	}

	#back {
		margin: 0;
		top: 50vh;
	}

	.small-container{
		width: 100%;
	}

	.post {
		padding: 0 3%;
	}
}