<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="back">
      <a class="btn btn-danger" href="{{ site.baseurl }}/">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="hidden-xs hidden-sm">HOME</span>
      </a>
    </div>

    <div class="small-container">

			<h1 class="text-center">{{ page.title }}</h1>
			<article class="post">
			  {{ content }}
			</article>
		</div>

    {% include footer.html %}

  </body>

</html>